input,
.flatpickr-calendar {
  font-family: Arial, Helvetica, sans-serif;
}
html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50vw;
}
div.flatpickr-container {
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid gray;
  padding: 1rem;
  background-color: #eee;
  transition: all 200ms ease-in-out;
}
div.flatpickr-container:hover {
  border-color: black;
  background-color: linen;
}
div.flatpickr-container .title {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

div.flatpickr-container button {
  margin-left: 0.5rem;
}
div.flatpickr-container dl dt {
  font-weight: bold;
}
.custom-class {
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: thin solid black;
  background-color: cornsilk;
  font-size: 1rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
}
.margin-left {
  margin-left: 0.5rem;
}
